[init]
	defaultBranch = main
[user]
	name = Yehor Varbanskyi
	email = varbanskyi.dev@proton.me
	signingkey = 0xE6E105E7F64F422F
[commit]
	gpgsign = false
[core]
	excludesfile = ~/.gitignore_global
    editor = nvim
